@import "tailwindcss";

/* =========================================
   1. PENDAFTARAN FONT LOKAL
   ========================================= */
@font-face {
  font-family: "Manrope";
  src: url("../assets/fonts/Manrope-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "jakarta";
  src: url("../assets/fonts/PlusJakartaSans-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "jakarta-italic";
  src: url("../assets/fonts/PlusJakartaSans-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: italic;
}


/* =========================================
   2. TEMA TAILWIND (VARIABEL KUSTOM)
   ========================================= */
@theme {
  /* --- Warna Unik Brand --- */
  --color-primary: #004250;
  --color-secondary: #c5a059;
  --color-bg-light: #f8fafb;
  
  --color-text-primary: #005b6e;
  --color-text-secondary: #4D5B6E;
  
  /* --- Warna Komponen Khusus --- */
  --color-card-bg-sc: #F2F4F5;
  --color-btn-hover: #08626c;
  --color-badge-bg: #B2EBFF;
  --color-bg-form: #70787C;

  /* --- Font Lokal --- */
  --font-main: "Manrope", sans-serif;
  --font-secondary: "jakarta", sans-serif;
  --font-third: "jakarta-italic", sans-serif;

  /* --- Radius & Shadow Spesifik --- */
  --radius-bg: 15px; 
  --shadow-soft: 0 10px 30px rgba(0, 0, 0, 0.05);

  /* --- Gradien Kustom --- */
  --background-image-btn-linear: linear-gradient(135deg, #004250 0%, #005B6E 100%);
}


/* =========================================
   3. PENGATURAN DASAR GLOBAL (BASE)
   ========================================= */
@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    font-family: var(--font-main);
    background-color: var(--color-bg-light);
    color: var(--color-text-secondary);
    margin: 0;
  }

  p, ul {
    font-family: var(--font-secondary);
  }

  select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
    background-position: right 1rem center;
    background-repeat: no-repeat;
    background-size: 1.5em 1.5em;
    padding-right: 2.75rem !important;
  }
}

    .scrollbar-hide::-webkit-scrollbar {
        display: none;
    }

    .scrollbar-hide {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
